<%= form_tag "/", :method => "GET", :class => "form-inline" do %>
    <div class="form-group">
      <%= text_field_tag :asdf, params[:asdf], :placeholder => "Search", :class => "form-control" %>
    </div>
    <%= submit_tag "Go!", :class => "btn btn-success", :id => "asdf" %>
<% end %>