<%= form_tag "/search", :method => "GET", :action => "search", :method => "post", :class => "form-inline" do %>
    <div class="form-group">
      <%= text_field_tag :query, params[:query], :required => true, :placeholder => "Search", :class => "form-control input-hg block" %>
    </div>
    <%= submit_tag "Go!", :class => "btn btn-hg btn-primary" %>
<% end %>
